<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>PersonalApplication</display-name>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>folder.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductView</servlet-name>
        <servlet-class>folder.ProductView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>folder.ErrorHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>folder.deleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAllProducts</servlet-name>
        <servlet-class>folder.deleteAllProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmationDel</servlet-name>
        <servlet-class>folder.confirmationDel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductView</servlet-name>
        <url-pattern>/folder.ProductView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/folder.ErrorHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/folder.deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAllProducts</servlet-name>
        <url-pattern>/folder.deleteAllProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmationDel</servlet-name>
        <url-pattern>/folder.confirmationDel</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/folder.ErrorHandler</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/folder.ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/folder.ErrorHandler</location>
    </error-page>
</web-app>